/*--------------------------------------------------------------ESTILO DE TARJETAS-----------------------------------------------------*/

.tarjetaProyecto {
  /* fondo tarjetas*/
  background-color: #7f95e4;
  width: 400px;
  height: 300px;
  color: #f6229b;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 20px;
  perspective: 1000px;
}

.tarjetaProyecto:hover .cardCompleta {
  /*sirve para que den vuelta*/
  transform: rotateY(180deg);
}

.cardCompleta {
  /*sirve para que den vuelta*/
  width: 400px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1000ms;
}

.tarjetaFrente {
  /*sirve para que den vuelta*/
  background-size: cover;
  background-position: center;
}

.tarjetaFrente,
.tarjetaAtras {
  /*sirve para que den vuelta*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.tarjetaAtras {
  /*sirve para que den vuelta*/
  transform: rotateY(180deg);
  background: #000000;
  padding: 20px;
}

.imagenTarjeta {
  width: 370px;
  height: 220px;
  padding: 0 5px 5px 5px;
  border-radius: 20px;
}

.bg {
  /*sirve para que den vuelta*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.body_tarjetaFrente {
  /*sirve para que den vuelta*/
  width: 100%;
  height: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px);
  flex-direction: column;
}

.body_tarjetaAtras {
  /*sirve para que den vuelta*/
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  text-align: center;
  transform: translateZ(60px);
}

.titulotarjetas {
  letter-spacing: 5px;
  text-align: center;
  font-size: 30px;
}

.titulotarjetas {
  letter-spacing: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
}

.textotarjeta {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: monospace;
}

.div-button-visit {
  margin-top: 20px;
}

/* Width máximo 767px */

@media (max-width: 767px) {
  .tarjetaProyecto {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .cardCompleta {
    width: 350px;
    height: 250px;
  }

  .tarjetaFrente,
  .tarjetaAtras {
    width: 100%;
  }

  .imagenTarjeta {
    width: 95%;
    height: 200px;
    padding: 10px 10px 0px 10px;
  }

  .titulotarjetas {
    font-size: 24px;
  }

  .textotarjeta {
    font-size: 14px;
  }

  .div-button-visit {
    margin-top: 10px;
  }
}
