.buttonActive {
  min-width: 200px;
  height: 50px;
  color: #000000;
  padding: 15px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #f6d922;
}
.buttonActive:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
  background-color: #f6229b;
}
.buttonActive:hover:after {
  opacity: 1;
  right: 10px;
}
.buttonActive:after {
  padding-top: 5px;
  content: "🤩";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.visit-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #f6229b;
  color: #f6229b;
}
.visit-button:hover {
  color: #fff;
}
.visit-button:hover:after {
  width: 100%;
}
.visit-button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #f6229b;
}
